
# Example env file for local development. Copy this file to `.env` and fill in the values.

# https://console.cloud.google.com/auth/clients/917701496330-fqrgccmo8a710so9vd6ainuh1lv50s6u.apps.googleusercontent.com?authuser=2&inv=1&invt=Abrh-A&project=polito-rocket-team 
# under the credentials tab > Polito Rocket Team > left side of the screen under additional info
AUTH_GOOGLE_ID="google client id"
AUTH_GOOGLE_SECRET="google client secret"

AUTH_RESEND_KEY="resend key" #contact IT lead to get access https://app.resend.com/api-keys 

AUTH_SECRET="auth-secret" # Added by `npx auth secret`. Read more: https://cli.authjs.dev



AUTH_URL=http://localhost:3000

# Email Configuration (for local development)
# These defaults work with Mailpit email server
SMTP_HOST="127.0.0.1"
SMTP_PORT="1025"
SMTP_SECURE="false"
# SMTP_USER="" # Not required for local Mailpit
# SMTP_PASS="" # Not required for local Mailpit

# Email sender information
EMAIL_FROM_NAME="PoliTo Rocket Team"
EMAIL_FROM_ADDRESS="no-reply@politorocketteam.it"

# Database connection used by both Drizzle and Better Auth
BETTER_AUTH_URL="http://localhost:3000"
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
