
# Example env file for local development. Copy this file to `.env` and fill in the values.

# local supabase instance
SUPABASE_URL="http://127.0.0.1:54321"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImV4cCI6MTk4MzgxMjk5Nn0.EGIM96RAZx35lJzdJsyH-qQwv8Hdp7fsn3W0YpN81IU"
SUPABASE_JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long


# https://console.cloud.google.com/auth/clients/917701496330-fqrgccmo8a710so9vd6ainuh1lv50s6u.apps.googleusercontent.com?authuser=2&inv=1&invt=Abrh-A&project=polito-rocket-team 
# under the credentials tab > Polito Rocket Team > left side of the screen under additional info
AUTH_GOOGLE_ID="google client id"
AUTH_GOOGLE_SECRET="google client secret"

AUTH_RESEND_KEY="resend key" #contact IT lead to get access https://app.resend.com/api-keys 

AUTH_SECRET="auth-secret" # Added by `npx auth secret`. Read more: https://cli.authjs.dev



AUTH_URL=http://localhost:3000

# MinIO Configuration (Development) - Using R2 variable names for compatibility
R2_ACCOUNT_ID="localhost"
R2_ACCESS_KEY_ID="minioadmin"  
R2_SECRET_ACCESS_KEY="minioadmin123"
R2_BUCKET="prt"





